# OS
.DS_Store
Thumbs.db
*.bak
*~

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Hexo
db.json
_multiconfig.yml
public/
.deploy*/
